.main__block{
	padding: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}
.foresight{
	display: flex;
	max-width: 300px;
	font-size: 30px;
	font-weight: 700;
	flex-wrap: wrap;
}
p{
	margin: 0 10px 0 10px;
}